<h2 class="mt-4">All available agents</h2>
<br>
<br>
 <%= button_to "Create New Agent", new_agent_path, :method => "get", class: "btn btn-main" %>
<br>
<br>
<div class="d-flex flex-wrap justify-content-between pt-4">
  <% @agents.each do |agent| %>
    <%= link_to agent_path(agent), class: "text-decoration-none text-dark" do %>
      <div class="card-agent">
       <% if agent.photo.attached? %>
      <%= cl_image_tag agent.photo.key, crop: :fill, object_fit: :contain %>
      <% end %>
        <div class="card-agent-infos">
          <div>
            <h2><%= agent.name %></h2>
            <p><%= agent.category %></p>
          </div>
          <h2 class="card-agent-pricing">£<%= agent.price %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
