<br>

<h1 style="text-align:center;">Have at it, create your agent!</h1>
<br>
<div class="form-container container" >
<%= simple_form_for @agent do |f| %>
<%= f.input :name %>
<%= f.input :price, placeholder: '£' %>
<%= f.input :height, placeholder: 'cm' %>
<%= f.input :years_of_service%>
<%= f.input :weapon %>
<%= f.input :marital_status %>
<%= f.input :ineptitude%>
<%= f.input :evilness %>
<%= f.input :category %>
<%= f.input :skills %>
<%= f.input :gadgets %>
<%= f.input :location, placeholder: 'Enter city'%>
<%= f.input :photo, as: :file, label: "Agent Image" %>
<br>
<%= f.submit %>
<% end %>
</div >
<br>
<br>
<br>
<br>
