
<div class="container d-flex justify-content-between">
  <div class="lh-side flex-grow-1">
    <div class="profile pb-3">
      <span class="h1"><%= @agent.name %></span>
      <div class="skill-header d-flex">
        <div class="category">
          <span class="m-1"><i class="fas fa-user-secret fa-2x "></i></span>
          <span class=""><%= @agent.category %></span>
        </div>
        <div class="skills">
          <span class="m-2"><i class="fas fa-award fa-2x"></i></span>
          <span class=""><%= @agent.skills %></span>
        </div>
      </div>
    </div>
    <%= cl_image_tag @agent.photo.key, crop: :fill, class: 'agent-photo'%>
    <div class="other-skills">
      <p class="h3 pm-1"><strong>Agent Organisation: </strong><%= @agent.user.email %></p>
      <p class="border-bottom h4">Years of active service: <%= @agent.years_of_service %></p>
      <div class="d-flex align-items-center mt-3">
        <span class="m-1"><i class="fas fa-cut fa-2x"></i></span>
        <span><p class="h5"><%= @agent.weapon %></p></span>
      </div>
      <div class="d-flex align-items-center">
        <span class="m-1"><i class="fas fa-church fa-2x"></i></span>
        <span><p class="h5"><%= @agent.marital_status %></p></span>
      </div>
      <div class="d-flex align-items-center">
        <span class="m-1"><i class="fas fa-blind fa-2x"></i></span>
        <span><p class="h5"><%= @agent.ineptitude %></p></span>
      </div>
      <div class="d-flex align-items-center">
        <span class="m-1"><i class="fas fa-gopuram fa-2x"></i></span>
        <span><p class="h5"><%= @agent.evilness %></p></span>
      </div>
      <div class="d-flex align-items-center border-bottom mb-3">
        <span class="m-1"><i class="fas fa-pen-alt fa-2x"></i></span>
        <span><p class="h5">Gadget: <%= @agent.gadgets %></p></span>
      </div>
    </div>
    <h3 class="mt-2">Your agent's location:</h3>
    <div class="map my-3" style="width: 100%; height: 500px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="rh-side pt-2 m-2">
    <div class="booking-form shadow-sm">
      <div class="form">
        <div class="d-flex align-items-center">
          <p class="h2">£<%= @agent.price %></p>
          <p>/ day</p>
        </div>
        <%= simple_form_for [ @agent, @booking ] do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <div class="d-flex justify-content-center">
          <%= f.submit "Reserve", class: "btn-main" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
</div>





<!--
<div class = "container">
<div class = "agent-title"><h1><%=@agent.name%></h1>
<p><%= @agent.category %></p>
<p><em><strong><%= @agent.marital_status %><strong></em></p></div>

<% if @agent.photo.attached? %>
  <div class = "image-show-page"><%= cl_image_tag @agent.photo.key %></div>
<% else %>
  <div class = "image-show-page"><%= image_tag "/assets/default_agent.png" %></div>
<% end %>
<%# when we can create an agent, test Owner: <%= @agent.user.name %>
<%# if owner and end can be removed to test functionality without the need to be the agent owner %>
<br>
<%if @owner%>
  <br>
  <br>
  <div class = "agent-show-page-container-2c side-padding edit-delete-booking-container">
    <%= link_to edit_agent_path(@agent) do%>
      <div class = "agent-show-page-container-box-2c edit-button btn-main side-padding">
        <h2>Edit</h2>
      </div>
    <% end %>
    <%= link_to agent_path(@agent), method: :delete, data: { confirm: "Our agent killers will be dispatched, are you sure?" } do%>
      <div class = "agent-show-page-container-box-2c delete-button btn-main">
        <h2>Delete</h2>
      </div>
    <% end %>
  </div>
    <% else %>
    <%= link_to "/bookings" do%>
      <div class = "agent-show-page-container-box-2c booking-button-show btn-main mb-3">
        <h2>Book <%=@agent.name%></h2>
      </div>
    <% end %>
<% end %>



<div class = "agent-show-page-container-3c">
  <div class = "agent-show-page-container-box-3c"><h2>£<%= @agent.price %></h2></div>
  <div class = "agent-show-page-container-box-3c"><h2><%= @agent.height %>cm</h2></div>
  <div class = "agent-show-page-container-box-3c"><h2>Service<br> <%= @agent.years_of_service%> years</h2></div>
</div>

<div class = "agent-show-page-container-2c">
  <div class = "agent-show-page-container-box-2c"><h2>Ineptitude <br><%= @agent.ineptitude %>/10</h2></div>
  <div class = "agent-show-page-container-box-2c"><h2>Evilness <br><%= @agent.evilness %>/10</h2></div>
</div>

<div class = "agent-show-page-container-3c">
  <div class = "agent-show-page-container-box-3c"><h2>Weapons<br> <%= @agent.weapon %></h2></div>
  <div class = "agent-show-page-container-box-3c"><h2>Skills<br> <%= @agent.skills %></h2></div>
  <div class = "agent-show-page-container-box-3c"><h2>Gadgets<br> <%= @agent.gadgets %></h2></div>
</div>
</div>
-->
