<h1><%=@agent.name%>'s stats</h1>
<h2><%= @agent.image %></h2>
<h2>Name: <%= @agent.name %></h2>
<h2>Price: £<%= @agent.price %></h2>
<h2>Height: <%= @agent.height %>cm</h2>
<h2>Service: <%= @agent.years_of_service%> years</h2>
<h2>Weapons: <%= @agent.weapon %></h2>
<h2>Ineptitude: <%= @agent.ineptitude %></h2>
<h2>Evilness: <%= @agent.evilness %></h2>
<h2>Category: <%= @agent.category %></h2>
<h2>Skills: <%= @agent.skills %></h2>
<h2>Gadgets: <%= @agent.gadgets %></h2>
<h2>Owner: <%= @agent.user.name %></h2>

<h2>Marital Status: <%= @agent.name %></h2>
